{% extends "basepage.html" %}

{% load static %}
{% block extra_css %}
    <link rel="stylesheet" href="{%static extra_style %}">
{% endblock %}
{% block head %}
Products per size:
{% endblock head %}


{% block nav %}
{{navs}}
{% endblock nav %}

{% block content %}
<h1>Available products of size {{size}}:</h1>
<ol>
    {% for product in products %}
        <li>
            <h1>: <a href="{% url 'eshop_product' product.item %}">{{product.item}}</a></h1>
            <p>description: {{product.description}}</p>
            <p>price: {{product.price}}</p>
        </li>
    {% endfor %}
</ol>
{% endblock content %}


{% block foot %}
{{foot}}
{% endblock foot %}