{% extends "basepage.html" %}

{% load static %}
{% block extra_css %}
    <link rel="stylesheet" href="{%static extra_style %}">
{% endblock %}
{% block head %}
Available {{header_name}}:
{% endblock head %}


{% block nav %}
{{navs}}
{% endblock nav %}

{% block content %}
<ol>
{% for product in products %}
<li>
    <h1>: {{product.item}}</h1>
    <p>description: {{product.description}}</p>
    <p>size: <a href="{% url 'eshop_size' product.size %}">{{product.size}}</a></p>
    <p>price: {{product.price}}</p>
</li>
{% endfor %}
{% endblock content %}
</ol>


{% block foot %}
{{foot}}
{% endblock foot %}