{% extends "basepage.html" %}
{% load custom_filters %}

{% load static %}
{% block extra_css %}
    <link rel="stylesheet" href="{%static extra_style %}">
{% endblock %}
{% block head %}
Games of our favorite Team
{% endblock head %}


{% block nav %}
{{navs}}
{% endblock nav %}

{% block content %}
<h2>Here are all games we played until now:</h2>
<ul>
    {% for game in games %}
    <li>
        <ul>
            <li><h3><a href="{% url 'game_page' game.pk %}">On {{ game.game_date }} we played against {{ game.opponent }} and scored {{ game.score }} goals:</a></h3></li>
            <li>
                <h4>Goals:</h4>
                <ol>
                    {% for goal in game.goalsscored_set.all %}
                        <p>Minute: {{ goal.minute }}, Scorer: <a href="{% url 'player_data' goal.player.id %}">{{goal.player.name}}</a></p>
                    {% endfor %}
                </ol>
            </li>
        </ul>
    </li>
    {% endfor %}
</ul>
{% endblock content %}


{% block foot %}
{{foot}}
{% endblock foot %}