{% extends "basepage.html" %}

{% block head %}
Scorers of our favorite Team
{% endblock head %}


{% block nav %}
{{navs}}
{% endblock nav %}

{% block content %}
<h1>Here are our players, ordered by goals:</h1>
<ul>
    {% for player in players %}
    <li>
        <h3><a href="{% url 'player_data' player.id %}">{{player.name}}</a></h3>
        <p>number of goals: {{player.total_goals}}</p>
        </ol>
    </li>
    {% endfor %}
</ul>
{% endblock content %}


{% block foot %}
{{foot}}
{% endblock foot %}