<!DOCTYPE html>
{% load static %}
<html>
    <head>
        <title>Our favorite Team</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{% static 'style.css' %}">
        {% block extra_css %}{% endblock %}
    </head>
    <body><main>
        <header>
            <h1>{% block head %} {% endblock head %}</h1>
        </header>
        <section>
        <nav>
            <ul>
                {% block nav %} {% endblock nav %}
            </ul>
            <ul>
                </br>
            </ul>
            {% if user.is_authenticated %}
            <ul>
                <p>You're logged in as {{ user.username }}!</p>
            </ul>
            <ul>
            <form method="post" action="{% url 'logout' %}?next={{ request.path }}">
                {% csrf_token %}
                <button type="submit" class="btn-link">logout</button>
            </form>
            {% if Action != 'Update' %}
                {% csrf_token %}
                <form action="{% url 'update' user.id %}?next={{ request.path }}">
                    <button type="submit" class="btn-link">account</button>
                </form>
            {% endif %}
            </ul>
            {% else %}
            <ul>
                <p>You're not logged in.</p>
            </ul>
            {% if Action != 'Log in' %}
                <ul>
                    <a href="{% url 'login' %}?next={{ request.path }}">Log In</a>
                </ul>
            {% endif %}
            {% if Action != 'Sign up' %}
            <ul>
                <a href="{% url 'signup' %}?next={{ request.path }}">Sign Up</a>
            </ul>
            {% endif %}
            {% endif %}
        </nav>

        <article>
            {% block content %} {% endblock content %}
        </article>
    </section>
    <footer>
        {% block foot %} {% endblock foot %}
    </footer></main>
    </body>
    </html>
</html>